@font-face {
    font-family: 'OpenSans-Light';
    src:local('OpenSans-Light'), url("../fonts/OpenSans-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

header{
    width: 100%;
    height: 10%;
    background-color: rgba(255,255,255,0.1);
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.site-name{
    margin: 0 3%;
    color: #ffffff;
}
.search{
    margin: 0 3%;
    color: #ffffff;
    position: relative;
}

.search input#search{
    width: 30px;
    height: 30px;
    background: rgba(255,255,255,0.3);
    border: none;
    font-size: 10pt;
    float: left;
    color: #ffffff;
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
   
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
  }
  .search .icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 1;
    color: #ffffff;
  }
  .search input#search:focus, .search input#search:active{
    outline:none;
    width: 300px;
  }
   
  .search:hover input#search{
    width: 300px;
  }

.content{
    font-size: 0;
    top: 0;
}
.content-left{
    display: inline-block;
    overflow: hidden;
    width: 50%;
    position: relative;
}
.gradient-img{
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top:0;
    position: absolute;
}
.gradient-img-left{
    background-image: linear-gradient(0,#48b1b0,#1940ae);
}
.gradient-img-right{
    background-image: linear-gradient(0,#e192ff,#7e31c0);
}
.content-left img{
    width: 50vw;
}
.content-right{
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 50%;
}
.content-right img{
    width: 50vw;
}
footer{
    background-color: #595f6f;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}
footer > div{
    margin: 2% 3%;
    width: 50%;
}
.footer-right{
    margin-left: 0;
    margin-right: 0;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-direction: row;
    border-left: 1px solid #4d5362;
}

.footer-right-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 55%;
    padding: 25px 0;
    border-right: 1px solid #4d5362;
    font-family: 'OpenSans-Light', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
.menu-1, .menu-2{
    display: flex;
    flex-direction: column;
}
.menu-item{
    padding: 5px;
    color: #c3c3c3;
    text-decoration: none;

}
.footer-right-contacts{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.footer-left p:nth-child(3){
    text-decoration: underline;
    color: #c3c3c3;
}
.footer-left p:nth-child(2){
    color: #c3c3c3;
}
.send-email input#send-email{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
    background-color: rgba(129,129,129,0.2);
    font-size: 14px;
    padding-right: 10px;
    color: lightgray;
}
.social{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    margin-left: 25px;
}
.social-btn{
    color: #c3c3c3;
    font-size: 24px;
}